:root {
  --text-desaturated-blue: hsl(238, 29%, 16%);
  --text-soft-red: hsl(14, 88%, 65%);
  --text-grayish-darkblue: hsl(240, 6%, 50%);
  --text-grayish-xdarkblue: hsl(237, 12%, 33%);
  --gradient-violet: hsl(273, 75%, 66%);
  --gradient-blue: hsl(240, 73%, 65%);
  --divider-blue: hsl(240, 5%, 91%);
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background-image: linear-gradient(
    var(--gradient-violet),
    var(--gradient-blue)
  );
  font-family: "Kumbh Sans", sans-serif;
  min-height: 100vh;
}
