:root {
  --text-desaturated-blue: hsl(238, 29%, 16%);
  --text-soft-red: hsl(14, 88%, 65%);
  --text-grayish-darkblue: hsl(240, 6%, 50%);
  --text-grayish-xdarkblue: hsl(237, 12%, 33%);
  --gradient-violet: hsl(273, 75%, 66%);
  --gradient-blue: hsl(240, 73%, 65%);
  --divider-blue: hsl(240, 5%, 91%);
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background-image: linear-gradient(
    var(--gradient-violet),
    var(--gradient-blue)
  );

  color: var(--text-grayish-xdarkblue);
  font-family: "Kumbh Sans", sans-serif;
  min-height: 100vh;
  padding: 16rem 1.6rem;
}

.heading-primary {
  color: var(--text-desaturated-blue);
  font-size: 2.4rem;
  margin-bottom: 2.4rem;
}
.card {
  background-color: #fff;
  border-radius: 2rem;
  max-width: 90rem;
  background-image: url(images/bg-pattern-mobile.svg);
  background-position: center 0%;
  background-repeat: no-repeat;
  background-size: 24rem;
  padding: 0 2.4rem 4.8rem 2.4rem;
}

.card__box {
  display: none;
}

.card__image {
  position: relative;
}

.card__image--mobile {
  display: block;
  width: 100%;
  height: auto;
  max-width: 24rem;

  position: absolute;
  left: 50%;
  top: -11rem;
  transform: translateX(-50%);
}

.card__image--desktop {
  display: none;
}

.card__text {
  padding-top: 11rem;
}

.accordian__item {
  border-bottom: 1px solid var(--divider-blue);
}

.accordian__item:not(:last-child) {
  margin-bottom: 1.4rem;
}

.accordian__question {
  border: none;
  background: transparent;
  color: inherit;
  font-size: 1.2rem;
  margin-bottom: 1.4rem;
  font-family: inherit;

  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.open {
  font-weight: 700;
  color: var(--text-desaturated-blue);
}

.hide {
  display: none;
}

.accordian__question::after {
  content: " ";
  background-image: url(images/icon-arrow-down.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  display: block;
  width: 1rem;
  height: 1.2rem;
}

.accordian__content {
  color: var(--text-grayish-darkblue);
  font-size: 1.1rem;
  line-height: 1.5;
  margin-bottom: 1.4rem;
}

@media (min-width: 56em) {
  body {
    padding: 8rem;
  }

  .card {
    display: flex;
    margin: 0 auto;
    gap: 7rem;

    background-image: url(images/bg-pattern-desktop.svg);
    background-position: -14% center;
    background-size: 45%;

    position: relative;
    padding: 7rem 10rem 7rem 0;
  }

  .card__box {
    display: block;
    position: absolute;
    left: 0;
    top: 63%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }

  .card__image {
    /* padding-right: 3.6rem; */
  }

  .card__image,
  .card__text {
    flex: 1;
  }

  .card__image {
    display: flex;
    align-items: center;
    overflow: hidden;
  }

  .card__image--mobile {
    display: none;
  }

  .card__image--desktop {
    display: block;
    position: initial;
    transform: translateX(-6.4rem);
    max-width: 40rem;
  }

  .card__text {
    padding: 0;
  }
}
